.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;    
    background-attachment: scroll;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}


@media (max-width: 100%) {
    .fullscreen-bg {
        background: url('video/Mb.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

.content-wrapper {  
  background-color: rgba(0, 0, 0, 0.0);
  color: #fff;
}

.container-fluid {
  margin-top: 40px;
}

.quoteGenerator {
  text-align: center;
}

#quoteDisplay {
  font-size: 1.5em;
  color: #fff; 
}

#authorDisplay {
  font-size: 1.2em;
  color: #fff; 
}

.buttonMy {
  position: absolute;
  top: 90%;
  left:40%;
}

.row {
  padding-top: 15px;
  padding-bottom: 5px;
}

